RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteRule ^wiki/PluginReference http://projects.skurfer.com/QuicksilverPlug-inReference.mdown [L,QSA]
RewriteRule ^wiki/(.*)$ /w/index.php?title=$1 [PT,L,QSA]
RewriteRule ^wiki/*$ /w/index.php [L,QSA]
RedirectMatch 301 /plugins$ /plugins.php

RewriteRule ^blog/$ http://blog.qsapp.com

ErrorDocument 404 /404.php

ExpiresActive ON
<FilesMatch "\.(css|js|html|png|ico)$">
ExpiresDefault "access plus 6 month"
</FilesMatch>
