body {
  width: 600px;
  margin: 35px auto 20px auto;
  font-size: 9pt;
  background-color: #696969;
  font-family: "baskerville", "georgia", "lucida grande";
  color: #353535;
}

#mainbox
{
	background-color: #d1d1d1;
	padding: 20px;
	border:1px solid #eee;
	border-radius: 10px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
}

.link
{
	width: 74px;
	color: #bbb;
	padding: 7px;
	background-color: #696969;
	float: left;
	margin-left: 5px;
	font-size: 11pt;

}
.link a
{
	color: #bbb;
}
.link a:hover
{
	color: #bbb;
}

.link:hover
{
	background-color:#555555 ;
}

#plugins {
  font-style: bold;
  width: 500px;
  font-family: "lucida grande";
  text-align: left;
}

#footer
{
	width:600px;
	margin-left:auto;
	margin-right:auto;
	padding-top:20px;
	text-align: center;
}

.opener {
  color: #151515;
  font-size: 11pt;
  text-align: left;
  padding-top: 40px;
}

.box {
  border: 1px solid #c0c0c0;
  border-left: none;
  border-top: none;
  padding: 1px 5px 1px 5px;
  float: left;
  height: 20px;
  background-color: #dddddd;
}

.odd {
  background-color:#eee;
}

.head {
  font-weight: bold;
  border-top: 1px solid #c0c0c0;
  font-size: 10pt;
  background-color: #e2e2e2;
}

#plugins img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.name {
  border-left: 1px solid #c0c0c0;
  width: 265px;
  border-right: none;
}
.name img {
  padding-right: 10px;
}

a {
  text-decoration: none;
  color: #555;
}

a:hover {
  color: #555;
  text-decoration: underline;
}

.version {
  width: 100px;
  border-left: none;
  text-align: right;
}

.updated {
  width: 100px;
  text-align: right;
}

#dlbutton
{
	display: block;
	padding: 10px;
	width: 92px;
	background-color: #ddd;
	border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
}

#dlbutton:hover
{
	text-decoration: none;
	background-color: #eee;
}